/* Style for the html body */
body {
  margin: 0;
  padding: 0;
}

/* Style for id=map */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Style for the heading in the pop-up window */
h3 {
  font-size: 16px;
  text-decoration: underline;
  font-family: Open sans, sans-serif;
}

/* Style for the paragraph in the pop-up window */
p {
  font-size: 14px;
  font-family: Open sans, sans-serif;
}

/* Style for pop-up window */
.my-popup .mapboxgl-popup-content {
  width: 150px;
  background: white; 
  border-top: 15px black;
  border-style: solid;
  border-width:1.5px;
  border-radius:10px;
  text-align:center;
  padding: 8px;
  color: black;
}

/*style header*/

.header {
  top:8px;
  left:8px;
  font-family: Open sans, sans-serif;
  font-weight:bold;
  text-align: left;
  background: white;
  position: fixed;
  height: 40px;
  width: 480px;
  bottom: 0px;
  line-height: 40px;
  padding:10px
}

.footer{
  font-family: Open sans, sans-serif;
  text-align: left;
  background: white;
  position: fixed;
  height: 15px;
  width: 200px;
  bottom: 40px;
  left:50px;
  line-height: 15px;
  padding:8px
}